html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* SECTION for Stefan */

@media screen and (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

/* SECTION for Sonia */

.main-container {
  background-color: #fcf3d0;
  width: fit-content;
  display: grid;
  grid-gap: 10px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1080px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}

.main-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #2e2b1e;
}

.main-title {
  background-color: #fcf3d0;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.main-title h1 {
  border-bottom: 5px solid transparent;
  transition: border-color 0.3s ease;
}

.main-title h1:hover {
  border-color: #ff6600;
  opacity: 80%;
}

.main-pic {
  grid-column: 4 / -1;
  grid-row: 3 / 4;
  /*  width: 100%; */
  max-height: 350px;
  background-image: url("path-to-your-image.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  border: 4px solid #fecd05;
  border-radius: 10px;
}
.main-pic img {
  /*   display: block; */
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.main-pic:hover img {
  transform: scale(1.1);
}

.main-ingredients {
  background-color: #bc553e;
  border-radius: 8px;
  height: fit-content;
  grid-column: 1 / 4;
  grid-row: 3 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 1em;
}

.main-ingredients ul {
  list-style: none;
  font-size: 1.5vw;
  padding: 20px;
}

.main-ingredients ul h3 {
  transition: color 0.5s ease;
}

.main-ingredients ul h3:hover {
  color: #fcf3d0;
}

.main-ingredients li:hover {
  background-color: #fcf3d0;
  border-radius: 10px;
  width: auto;
}

.main-description {
  background-color: #fcf3d0;
  height: fit-content;
  grid-column: 4 / -1;
  grid-row: 4 / -1;
}

.main-description p {
  font-size: 21px;
  padding: 5px;
}

.main-description p:hover {
  text-shadow: 1px 1px 3px rgb(182, 96, 35);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf3d0;
  color: #58585b;
  padding: 10px;
  border-bottom: 10px solid #fecd05;
}

.logo_claim {
  display: flex;
  align-items: center;
}

header logo img {
  height: 100px;
}

header claim {
  font-size: 1.6rem;
  margin-left: 10%;
  min-width: fit-content;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover {
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  background-color: #fecd05;
}

nav li {
  margin: 20px;
  transition: background 0.25s, box-shadow 0.15s;
  &:hover {
    background: #fecd05;
    cursor: pointer;
  }
}

nav a:link {
  color: #58585b;
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
  color: #58585b;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #fcf3d0;
  color: #58585b;
  padding: 10px;
  border-top: 10px solid #fecd05;
}

footer h4,
ul {
  margin: 0;
  padding: 0;
}

sitemap ul {
  list-style: none;
}

sitemap ul ul li {
  margin-left: 10px;
}

sitemap a:link,
a:visited {
  text-decoration: none;
  color: #58585b;
}

#copyright_mail {
  align-self: flex-end;
  margin-right: 20px;
  min-width: fit-content;
  display: inline-flex;
}

#contact {
  margin-left: 20px;
}

#contact a:link {
  color: #58585b;
}

sitemap h4,
sitemap ul {
  color: rgb(113, 113, 113);
  /*   font-size: 0.8rem;
  font-weight: 400; */
}

sitemap ul li {
  color: rgb(113, 113, 113);
  /*   font-size: 0.8rem;
  font-weight: 400; */
}

/* SECTION for Sonia */

/* SECTION for mamoon */
.main_div .headline #super {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
.main_div {
  background-color: black;
}
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  width: 100%;
  height: 350px;
  border: 2px solid green;
}
.slovakian {
  width: 100%;
  height: 450px;
  border: 2px solid rgb(229, 25, 236);
}

.slovakian .slovakian_dishes {
  padding-top: 20px;
  display: flex;
  gap: 10px;

  justify-content: center;
  align-items: center;
  border: 2px solid rgb(223, 184, 12);
  background-color: #fcf3d0;
}
.slovakian .slovakian_dishes .slovakian_dish1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.slovakian_dish1:hover .slovakian_dish1_img1 {
  opacity: 0.3;
}
.slovakian_dish1:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.slovakian_dish1_img1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.text_slovakian_dish1 {
  background-color: #fecd05;
  color: black;
  font-size: 14px;
  padding: 16px 32px;
  box-sizing: inline;
}
.slovakian .slovakian_dishes .slovakian_dish2 {
}
.slovakian .slovakian_dishes .slovakian_dish3 {
  height: 300px;
}
.slovakian_headline {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 2220px;
  height: 30px;
}
.slovakian .slovakian_headline #slovakian_span {
  color: rgb(218, 221, 21);
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 4px 4px 5px red;
}

.Afghan {
  width: 100%;
  height: 350px;
  border: 2px solid rgb(229, 25, 236);
}
.Afghan .afghan_headline {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 2220px;
  height: 30px;
}
.Afghan .afghan_headline #Afghan_text {
  color: rgb(218, 221, 21);
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 4px 4px 5px red;
}

.Afghan .afghan_dishes {
  padding-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(223, 184, 12);
  background-color: #fecd05;
}
.Afghan .afghan_dishes .afghan_dish1 {
  display: flex;
  flex-direction: column;
}
.Afghan .afghan_dishes .afghan_dish2 {
}
.Afghan .afghan_dishes .afghan_dish3 {
}

.czech {
  width: 100%;
  height: 450px;
  border: 2px solid rgb(229, 25, 236);
}
.czech .czech_headline {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 2220px;
  height: 30px;
}
.czech .czech_headline #czech_span {
  color: rgb(218, 221, 21);
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 4px 4px 5px red;
}
.czech .czech_dishes {
  padding-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(223, 184, 12);
  background-color: #fecd05;
}

.czech .czech_dishes .czech_dish1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
